<h2>Manage Contacts</h2>
<svg class="bi bi-chevron-right" width="32" height="32" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.646 3.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L12.293 10 6.646 4.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>

<div>
    <button class="btn btn-outline-primary" style="margin-inline-end: 0.5em;"(click)="onLoadContacts()">Load Contacts</button>
    <button class="btn btn-outline-success" (click)="onCreateContact()">Create Contact</button>
</div>
<hr />
<div *ngIf="contacts?.length > 0 && editContact == undefined && deleteContact == undefined">
    <table class="table table-hover table-bordered">
        <th>Id</th>
        <th>Type</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Save</th>

        <tr *ngFor="let item of contacts">
            <td>{{item.id}}</td>
            <td>{{item.type}}</td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.address}}</td>

            <td>
                <button type="button" class="btn btn-outline-primary" style="min-width: 6em;"
                    (click)="onEditContact(item)">Edit</button>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger" style="min-width: 6em;"
                    (click)="onDeleteContact(item)">Delete</button>

            </td>
        </tr>
    </table>


</div>
<form *ngIf="deleteContact != undefined">
    <h3>Delete</h3>
    <div class="alert alert-danger" role="alert">
        Are you sure to delete?
    </div>
    <!-- <h3 style="color: red">Are you sure to delete?</h3> -->
    <div class="form-group">
        <label for="type">Type</label>
        <label id="type" class="form-control">{{deleteContact.type}}</label>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <label id="name" class="form-control">{{deleteContact.name}}</label>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <label id="email" class="form-control">{{deleteContact.email}}</label>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <label id="address" class="form-control">{{deleteContact.address}}</label>
    </div>
    <div class="form-group">
        <button (click)="onCancel()" class="btn btn-outline-secondary"
            style="margin-inline-end: 0.5em; min-width: 8em;">Cancel</button>
        <button (click)="onSubmit()" class="btn btn-outline-danger" style="min-width: 8em;">Delete</button>
    </div>
</form>
<form *ngIf="editContact != undefined">
    <h3 [innerText]="editContact.id == 0 ? 'Create':'Edit'"></h3>
    <div class="form-group">
        
        <label for="type">Type</label>
    
        <select [(ngModel)]="editContact.type" class="form-control" [ngModelOptions]="{standalone: true}">
            <!-- Below line will be looped through the keys and for every key, set label as value from enum pair and key as value attribute of <option> tag-->
                  <option *ngFor="let key of typeSelectOptions" [value]="contactType[key]" [label]="contactType[key]"></option>
        </select>
    </div>
    <div class="form-group">
        <label for="title">Name</label>
        <input type="text" id="name" name="name" [(ngModel)]="editContact.name" [ngModelOptions]="{standalone: true}"
            class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="editContact.email" [ngModelOptions]="{standalone: true}"
            class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="email">Address</label>
      <input type="text" id="address" name="address" [(ngModel)]="editContact.address" [ngModelOptions]="{standalone: true}"
          class="form-control" placeholder="Address">
  </div>
    <div class="form-group">
        <button (click)="onCancel()" class="btn btn-outline-secondary"
            style="margin-inline-end: 0.5em; min-width: 8em;">Cancel</button>
        <button (click)="onSubmit()" class="btn btn-outline-primary" style="min-width: 8em;">Submit</button>
    </div>
    <hr/>
</form>
